# sample systemd unit file for Gopherbot
[Unit]
Description=Gopherbot DevOps Chatbot
Documentation=https://godoc.org/github.com/uva-its/gopherbot
After=syslog.target
After=network.target

[Service]
Type=simple
User=robot
Group=robot
WorkingDirectory=/opt/gopherbot
# Need HOSTNAME for Gopherbot to tell you where it's running
Environment=HOSTNAME=%H
ExecStart=/opt/gopherbot/gopherbot -plainlog
Restart=on-failure
Environment=USER=robot HOME=/opt/robot
KillMode=process
# Give the robot plenty of time to finish plugins currently executing;
# no new plugins will start after SIGTERM is caught.
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
