coverage.*
gopherbot
gopherbot.exe
gopherbot*zip
gopherbot*tar.gz
*.pyc
# Ignore symlinks useful for development
plugins/gopherbot_v1.py
jobs/gopherbot_v1.py
tasks/gopherbot_v1.py
plugins/gopherbot_v2.py
jobs/gopherbot_v2.py
tasks/gopherbot_v2.py
.env
*.so
# For dev env
gopherbot-doc
robot.log
start.sh
