# Example gobot.conf
GOBOT_CONNECTOR=slack # currently the only *cough*supported*cough* connector
#BOT_DEBUG=true
GOBOT_NAME="Floyd"
GOBOT_ALIAS=";"
# Bender is another bot - we don't want them talking to each other
GOBOT_IGNORE="Bender"
GOBOT_SLACK_TOKEN=<yourtokenhere>
# GOBOT_DEBUG=true
GOBOT_HTTP_PORT="127.0.0.1:8880"
