[Unit]
Description=Gopherbot DevOps Chatbot
Documentation=https://lnxjedi.github.io/gopherbot
After=syslog.target
After=network.target

[Service]
Type=simple
User=robot
Group=robot
WorkingDirectory=/var/lib/gopherbot
ExecStart=/opt/gopherbot/gopherbot -plainlog 
Restart=on-failure
Environment=USER=robot HOME=/home/robot HOSTNAME=%H

KillMode=process
# Give the robot plenty of time to finish plugins currently executing;
# no new plugins will start after SIGTERM is caught.
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
