## Template for running your robot as a systemd user service;
## remove these lines, edit for your robot, and copy to
## $HOME/.config/systemd/user/<robot-name>.service.
[Unit]
Description=<MyRobotName> - Gopherbot DevOps Chatbot
Documentation=https://lnxjedi.github.io/gopherbot
After=syslog.target
After=network.target

[Service]
Type=simple
## Place the robot's ".env" file in the WorkingDirectory,
## owned by your user, mode r-------- (0400).
WorkingDirectory=/home/<your-home>/<your-robot>
ExecStart=/opt/gopherbot/gopherbot -plainlog 
Restart=on-failure
## Change "slack" if needed
Environment=USER=<your-user> HOME=/home/<your-user>/<your-robot> GOPHER_PROTOCOL=slack HOSTNAME=%H

KillMode=process
## Give the robot plenty of time to finish plugins currently executing;
## no new plugins will start after SIGTERM is caught.
TimeoutStopSec=600

[Install]
WantedBy=default.target
