---
# repositories.yaml - shared config file for gopherbot and external CI/CD
# applications. Hash entries define valid repository names for the
# ExtendNamespace(...) method, and Parameters configured for individual
# repositories. Anything defined other than Parameters is used only by
# the CI/CD application(s).
# github.com/lnxjedi/gopherbot:
#   type: localtrusted
#   clone_url: https://github.com/lnxjedi/gopherbot.git
#   keep_history: 14
#   Parameters:
#   - Name: NOTIFY_USER
#     Value: parsley
