---
# Sample overlay for plugins/samples/privsep_probe.py
# Requires robot.yaml entry name: "privsep-external-unpriv"
Channels: [ "random" ]
CommandMatchers:
- Regex: (?i:privsep external unpriv)
  Command: probe

