---
## To enable:
## * Copy to 'weather.yaml' and put your API key in from openweathermap.org
## * Uncomment the 'ExternalPlugins' entry for 'weather'
## * Restart the robot or issue a 'reload' command
Config:
  APIKey: "" # or leave blank and set in OWM_APIKEY environment variable
  TemperatureUnits: imperial # for Fahrenheit; 'metric' for Celcius
  DefaultCountry: us
